* {
  box-sizing: border-box;
}

.image-container {
  margin-top: 50px;
  margin-bottom: 50px;
}

.main-image {
  border-radius: 20px;
  display: block;
  margin: auto;
  max-width: 100%;
}

.gallery {
  display: flex;
}

.card {
  margin: 16px;
  box-shadow: 0px 7px 18px -8px rgba(0, 0, 0, 0.75);
}

.card-text {
  line-height: 30px;
  text-align: center;
  text-transform: lowercase;
}

.opacity-image {
  filter: opacity(50%);
}

.blur-image {
  filter: blur(4px);
}

.invert-image {
  filter: invert(100%);
}